html {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

header {
    text-align: center;
}

h1 {
	font-family: monospace;
}

body {
	background: #ffffff;
	font-family: 'Permanent Marker', cursive;
	font-size: 16px;
}

.container {
	display: flex;
	flex-direction: column;
}

.main {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.description {
	margin: 8%;
}

.info {
    margin-bottom: 2rem;
    text-align: center;
}

.playground {
    width: 92%;
}

.deck {
    align-items: center;
	background: #c2a4c2;
	border-radius: 4px;
	box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 1rem;
}

.card {
    align-items: center;
	background: #493649;;
	border-radius: 5px;
    box-shadow: 5px 2px 20px 0 rgba(51, 42, 56, 0.5);
	color: #ffffff;
    cursor: pointer;
    display: flex;
	font-size: 0;
    justify-content: center;
	margin: 0.2rem 0.2rem;
    min-height: 6rem;
	width: 17%;
}

.card.open {
	animation-duration: 0.75s;
	animation-name: flipCard;
	backface-visibility: visible;
	background: #02b3e4;
	cursor: default;
	transform: rotateY(0);
}

.card.show {
	font-size: 33px;
}

.card.match {
	animation-duration: 0.75s;
	animation-name: cardMatch;
	backface-visibility: visible;
	background: #73f384;
	cursor: default;
	font-size: 33px;
}

.card.unmatch {
	animation-duration: 0.75s;
	animation-name: cardUnmatch;
	backface-visibility: visible;
	background: #e2043b;
}

.card.disabled {
	opacity: 0.9;
	pointer-events: none;
}
.card.reset {
	animation-duration: 0.75s;
	animation-name: flipCard;
}

.timer {
    display: inline-block;
	margin: 0 1rem;
}

.timer.ended {
	animation-name: showResult;
	animation-duration: 5s;
}

@keyframes flipCard {
	from {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: perspective(50rem) rotate3d(0, 1, 0, 90deg);
	}

	40% {
		animation-timing-function: ease-in;
		transform: perspective(50rem) rotate3d(0, 1, 0, -20deg);
	}

	60% {
		opacity: 1;
		transform: perspective(50rem) rotate3d(0, 1, 0, 10deg);
	}

	80% {
		transform: perspective(50rem) rotate3d(0, 1, 0, -5deg);
	}

	to {
		transform: perspective(50rem);
	}
}

@keyframes cardMatch {
	from {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, .95, 1);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

@keyframes cardUnmatch {
	from {
		transform: scale3d(1, 1, 1);
	}

	50% {
		transform: scale3d(1.2, 1.2, 1.2);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

@keyframes showResult {
	from {
		transform: scale(1, 1);
	}

	80% {
		transform: scale(1.5, 2);
	}

	to {
		transform: scale(1, 1);
	}
}

@media (min-width: 768px) {
	.container {
		flex-direction: row;
	}

	.main {
		width: 50%;
	}
	.deck {
		min-height: 24rem;
	}

	.card {
		min-height: 10rem;
	}

	.description {
		margin-top: 0;
		width: 50%;
	}
} 